 <!DOCTYPE html>
 <html lang="en">
 <head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title> TESTE</title>
 </head>
 <body>

   <div class="main-container">
     
    <div class="card-product">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR-6DG8e2GECF00p_-Mu4hrz1rFjUngWKIvbg&usqp=CAU">
     <div class="card-product-infos">
      <h2><strong>Wonderful! Your class is scheduled:</strong></h2>
       <p><strong> <%= @booking.activity.category %></p></h2>
       <p>Date: <%= @booking.date %></p>
       <p>See you at:<%= @booking.time %></p>
       <p>Activity:  <%= @booking.activity.description %></p>
     </div>
   </div>
  </body>
 </html>
  




