.containerbox {
  display: flex;
  justify-content: space-between;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  padding-bottom: 30px;
}

.wrapperbox {
  display: flex;
  justify-content: space-between;
  width: 100%;
  grid-template-columns: 1fr 1fr;
}

.wrappercontainer {
  width: 100%;
  display: flex;
  background: #2978b5;
  grid-template-columns: 1fr 1fr;
  padding: 40px 50px 20px 50px;
  text-color: white;
  align-items: middle;
}

.column {
  flex-direction: row;
  flex-basis: 75%;
}
.column h2 {
  font-size: 30px;
  font-family: "Nunito", "Helvetica", "sans-serif";
  justify-content: space-evenly;
  color: white;
  text-align: center;
}

.item {
  width: 600px;
  height: 250px;
  margin: auto;
  padding: 100px 80px 20px 80px;
  text-align: center;
}
.item p {
  font-size: 24px;
  font-weight: bold;
  font-family: "Nunito", "Helvetica", "sans-serif";
}

.item-boxI {
  margin: auto;
  flex-direction: column;
  padding: 100px 80px 20px 80px;
  text-align: center;
  flex: 1;
}

.item-boxII {
  height: 350px;
  flex-direction: column;
  margin: 0;
  padding: 100px 80px 20px 80px;
  text-align: center;
  padding: 100px 0px 0px 0px;
  box-sizing: unset;


}

.item-boxIII {
  height: 350px;
  flex-direction: column;
  margin: auto;
  padding: 100px 80px 20px 80px;
  text-align: center;
  padding: 0px 80px 20px 0px;
  box-sizing: unset;

}

.item-boxIV {
  height: 350px;
  flex-direction: column;
  margin: auto;
  padding: 100px 80px 20px 80px;
  text-align: center;

}

.item-boxIV p {
  font-size: 24px;
  font-weight: bold;
  font-family: "Nunito", "Helvetica", "sans-serif";

}

.item-boxI p {
  font-size: 24px;
  font-weight: bold;
  font-family: "Nunito", "Helvetica", "sans-serif";
}


@media (min-width: 100px) and (max-width: 575px) {
  .containerbox {
    grid-template-columns: 1fr;
    display: block;
  }
}


@media (min-width: 576px) {
  .containerbox {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .containerbox {
    grid-template-columns: 1fr 1fr;

  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .containerbox {
    grid-template-columns: 1fr 1fr 1fr;
  }
  }



