.containerbox {
  display: flex;
  justify-content: space-between;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}
.item {
  width: 600px;
  height: 250px;
  margin: auto;
  padding: 100px 80px 20px 80px;
  text-align: center;
}
.item p {
  font-size: 24px;
  font-weight: bold;
  font-family: "Nunito", "Helvetica", "sans-serif";
}

.item-boxI {
  height: 450px;
  margin: auto;
  padding: 100px 80px 20px 80px;
  text-align: center;
  flex: 1;

}

.item-boxII {
  height: 450px;
  margin: auto;
  padding: 100px 80px 20px 80px;
  text-align: center;
  padding: 100px 0px 0px 0px;
  flex: 1;

}

.item-boxIII {
  height: 450px;
  margin: auto;
  padding: 100px 80px 20px 80px;
  text-align: center;
  padding: 0px 80px 20px 0px;
  flex: 1;
}

.item-boxIV {
  height: 450px;
  margin: auto;
  padding: 100px 80px 20px 80px;
  text-align: center;
  flex: 1;
}

.item-boxIV p {
  font-size: 24px;
  font-weight: bold;
}

.item-boxI p {
  font-size: 24px;
  font-weight: bold;
}


@media (min-width: 100px) and (max-width: 575px) {
  .containerbox {
    grid-template-columns: 1fr;
    display: block;
  }
}


@media (min-width: 576px) {
  .containerbox {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .containerbox {
    grid-template-columns: 1fr 1fr;

  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .containerbox {
    grid-template-columns: 1fr 1fr 1fr;
  }
  }



