div.hr-line {
    position: relative;
    display: inline-block;
    padding-top: 40px;
    padding-bottom: 40px;
    width: 100%;
    border-bottom: 3px solid #324F5D;
}


div.hr-line-hp {
    position: relative;
    width: 100%;
    border-bottom: 3px solid #324F5D;
    background: #F4F9F9;

}
