

<div class="cards">
   <% @activities.each do |activity| %>
      <%= link_to  employees_activity_path(activity.id) do %>
         <div class="card-product" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://blogmedia.evbstatic.com/wp-content/uploads/wpmulti/sites/18/2019/09/Aulas-de-Yoga.jpg')">
         </div>
          <strong class="card-text"><%= "#{activity.category} #{activity.time}-#{activity.date}  #{activity.frequency}"%></strong>
      <% end %>
   <% end %>
</div>
